<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html>
  <head>
    <% if Rails.configuration.google_analytics %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="<%= google_analytics_url %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', "<%= ENV["GOOGLE_ANALYTICS_TRACKING_ID"] %>");
      </script>
    <% end %>

    <title><%= yield(:page_title).present? ? yield(:page_title) : t("bigbluebutton") %></title>
    <meta property="og:title" content="prmeet - Prayer's meeting" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:description" content="prmeet는 'prayer's meeting'즉, '기도하는 자들의 모임' 이라는 뜻 입니다. 온라인 미팅을 필요로 하는 '교회 소모임'이나 대형모임을 생각하여 개발되었습니다. 하지만, '개인 미팅', '회사 회의', '소모임', '동호회 모임', '학교에서의 교육', '반상회'등 다양한 모임에서도 활용 가능하여, 현재 무료로 운용되고 있으니, 많이 사용해 주시길 바랍니다.혹시, 보완할 점이나 아이디어, 요청사항을리 있으신 분은 언제는 주저하지 마시고 다음 이메일이나 게시판에 질문하여 주세요. newtc@newtc.co.kr" />
    <meta property="og:url" content="<%= request.base_url %>" />
    <meta property="og:image" content="<%= request.base_url %>/logo_with_text.png" />
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>

    <!-- Global javascript variables and helpers. -->
    <script type="text/javascript">
      window.GreenLight = {};
      window.GreenLight.WEBSOCKET_HOST = "<%= ENV['WEBSOCKET_HOST'] %>"
      window.GreenLight.RELATIVE_ROOT = "<%= relative_root %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <!-- Primary color styling -->
    <%= stylesheet_link_tag themes_primary_path %>

    <script type="text/javascript">
      // Include the correct translated strings for Javascript
      window.I18n = <%= current_translations.to_json.html_safe %>
      window.I18nFallback = <%= fallback_translations.to_json.html_safe %>
    </script>
  </head>

  <body class="app-background" data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-relative-root="<%= Rails.configuration.relative_url_root || "/" %>">
    <%= render "shared/header" %>

    <div class="wrapper">
      <% unless Rails.configuration.banner_message.blank? %>
        <div class="alert alert-icon alert-danger text-center mb-0">
          <div class="flash alert d-inline">
            <p class="d-inline"><%= Rails.configuration.banner_message %></p>
          </div>
        </div>
      <% end %>

      <%= render 'shared/flash_messages' unless flash.empty? %>

      <%= yield %>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
